{% extends 'BaBFrontEndBundle:Default:index.html.twig' %}
{% block title %}Erreur : {{ status_code }} - {{ parent() }}{% endblock %}
{% block bodyClass %}content-page error-page{% endblock %}
{% block body %}
    <div class="container well">
        <div class="row">
            <div class="col-md-12">
                <h1>Oops! Vous avez fait tomber votre bière ><</h1>
                <h2>{{ exception.message }}</h2>
            </div>
        </div>
    </div>
{% endblock %}
