{% extends 'BaBCoreBundle:Default:index.html.twig' %}
{% block body %}
    <h3>Ajout d'une box</h3>
    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div id="infos-gen">
            <h4>Informations générales</h4>
            <div class="form-group">
                {{ form_label(form.nomBox) }}
                {{ form_errors(form.nomBox) }}
                <div class="col-sm-4">
                    {{ form_widget(form.nomBox, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.dateSortieBox) }}
                {{ form_errors(form.dateSortieBox) }}
                <div class="col-sm-4">
                    {{ form_widget(form.dateSortieBox, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.dateDebutVenteBox) }}
                {{ form_errors(form.dateDebutVenteBox) }}
                <div class="col-sm-4">
                    {{ form_widget(form.dateDebutVenteBox, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.dateFinVenteBox) }}
                {{ form_errors(form.dateFinVenteBox) }}
                <div class="col-sm-4">
                    {{ form_widget(form.dateFinVenteBox, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.descriptionBox) }}
                {{ form_errors(form.descriptionBox) }}
                <div class="col-sm-4">
                    {{ form_widget(form.descriptionBox, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.nombreBoxProposes) }}
                {{ form_errors(form.nombreBoxProposes) }}
                <div class="col-sm-4">
                    {{ form_widget(form.nombreBoxProposes, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.prixDeVenteHT) }}
                {{ form_errors(form.prixDeVenteHT) }}
                <div class="col-sm-4">
                    {{ form_widget(form.prixDeVenteHT, {'attr': {'class': 'form-control'}}) }}

                </div>
                <span class="help-block">16,67€ HT <=> 20,00 TTC</span>
            </div>
        </div>


        {{ form_rest(form) }}
        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        <button type="submit" class="btn btn-primary">Sauvegarder</button>

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
    </div>
{% endblock %}
