{% extends 'BaBFrontEndBundle:Default:index.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h3>Listes des box</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nom de la box</th>
                    <th>Date</th>
                    <th>Nombre de box proposés</th>
                    <th>Nombre de box commandés</th>
                </tr>
                </thead>
                <tbody>
                {% for box in boxs %}
                    <tr>
                        <td>{{ box.nomBox }}</td>
                        <td>{{ box.dateSortieBox|date("d/m/Y") }}</td>
                        <td>{{ box.nombreBoxProposes }}</td>
                        <td>{{ box.nombreBoxVendues }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-success" href="{{ path('box_add') }}">Ajouter une box</a>
        </div>
    </div>

{% endblock %}