{% extends '@BaBFrontEnd/Default/index.html.twig' %}
    {% block metaFB%}
    <meta property="og:url"                content="http://boiteabiere.fr/acheter" />
    <meta property="og:type"               content="product" />
    <meta property="og:title"              content="Marre de la routine ?" />
    <meta property="og:description"        content="Boite à Bière, des bières françaises dans ton salon !" />
    <meta property="og:image"              content="{{asset('bundles/babcore/img/explication_boite_beige.png', absolute=true)}}" />
    {% endblock %}

{% block bodyClass %}achat-page {{ parent() }}{% endblock %}
{% block body %}


    <div id="tunnel_form" class="container">
        <div class="well col-md-12">
            <div class="row">
                <img class="img-responsive center-block" src="{{ asset('bundles/babcore/img/explication-boite.png') }}">
            </div>
        </div>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {# Bloc de choix du produit #}
        <div class="well col-md-12">
            <div class="row">
                <div class="form-group">
                    {{ form_label(form.modeSouscription) }}
                    {{ form_errors(form.modeSouscription) }}
                    <div class="col-md-6">
                        {{ form_widget(form.modeSouscription, {'attr': {'class': 'form-control'}}) }}
                    </div>

                </div>
            </div>
            {#<br>#}
            <div class="row">
                <div class="form-group">
                    {{ form_label(form.box) }}
                    {{ form_errors(form.box) }}
                    <div class="col-md-6">
                        {{ form_widget(form.box, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
        </div>

        {# Bloc de choix du mode de livraison #}
        <div class="well col-md-12">
            <div class="row">
                <div class="form-group">
                    {{ form_label(form.modeLivraison) }}
                    {{ form_errors(form.modeLivraison) }}
                    <div class="col-md-6">
                        {{ form_widget(form.modeLivraison, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            {#<br>#}
            <div class="row bab-points-relais">
                <div class="form-group">
                    {{ form_label(form.pointRelais) }}
                    {{ form_errors(form.pointRelais) }}
                    <div class="col-md-6">
                        {{ form_widget(form.pointRelais, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>

        </div>
        <div class="well col-md-12">
            <div class="row livraison">
                <div class="bab-points-relais col-md-6 text-center">
                    <div id="map-pts" class="map-preview text-center"></div>
                </div>
                <div class="bab-points-relais col-md-6">
                    <address>
                        <strong id="libelle-pt-relais"></strong><br>
                        <div id="adr-pt-relais"></div>
                        <div id="cp-pt-relais"></div><div id="ville-pt-relais"></div><br>
                    </address>
                </div>
                <div class="col-md-12">
                    <img width="200" class="img-responsive collisimo"
                         src="{{ asset('bundles/babcore/img/logo/colissimo.png') }}">
                    <div class="navette-pickup">Navette Pickup</div>

                    <div class="col-md-6 text-center formAddress">
                        <h4>Adresse de livraison</h4>
                        <div class="form-group row">
                            {{ form_label(form.addressLivraison.libelle) }}
                            {{ form_errors(form.addressLivraison.libelle) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressLivraison.libelle, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.addressLivraison.numeroAdresse) }}
                            {{ form_errors(form.addressLivraison.numeroAdresse) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressLivraison.numeroAdresse, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.addressLivraison.nomVoieAdresse) }}
                            {{ form_errors(form.addressLivraison.nomVoieAdresse) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressLivraison.nomVoieAdresse, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.addressLivraison.complementAdresse) }}
                            {{ form_errors(form.addressLivraison.complementAdresse) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressLivraison.complementAdresse, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.addressLivraison.cpAdresse) }}
                            {{ form_errors(form.addressLivraison.cpAdresse) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressLivraison.cpAdresse, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.addressLivraison.villeAdresse) }}
                            {{ form_errors(form.addressLivraison.villeAdresse) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressLivraison.villeAdresse, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.addressLivraison.paysAdresse) }}
                            {{ form_errors(form.addressLivraison.paysAdresse) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressLivraison.paysAdresse, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-center formAddress">
                        <h4>Adresse de facturation</h4>

                        <div class="form-group row">
                            {{ form_label(form.addressFacturation.libelle) }}
                            {{ form_errors(form.addressFacturation.libelle) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressFacturation.libelle, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.addressFacturation.numeroAdresse) }}
                            {{ form_errors(form.addressFacturation.numeroAdresse) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressFacturation.numeroAdresse, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.addressFacturation.nomVoieAdresse) }}
                            {{ form_errors(form.addressFacturation.nomVoieAdresse) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressFacturation.nomVoieAdresse, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.addressFacturation.complementAdresse) }}
                            {{ form_errors(form.addressFacturation.complementAdresse) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressFacturation.complementAdresse, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.addressFacturation.cpAdresse) }}
                            {{ form_errors(form.addressFacturation.cpAdresse) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressFacturation.cpAdresse, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.addressFacturation.villeAdresse) }}
                            {{ form_errors(form.addressFacturation.villeAdresse) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressFacturation.villeAdresse, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.addressFacturation.paysAdresse) }}
                            {{ form_errors(form.addressFacturation.paysAdresse) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressFacturation.paysAdresse, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">

                </div>
            </div>
            <br>

            <div class="row">
                <div class="form-group">

                </div>
            </div>

        </div>
        {#<div class="well col-md-12">#}
            {#Cout de livraison :#}
        {#</div>#}
        <div class="well col-md-12">
            <table class="col-md-10">
                <tbody>
                <tr>
                    <td>Sous total produits :</td>
                    <td id="totalPrdts"></td>
                    <td></td>
                    <td>Frais de livraison :</td>
                    <td id="fraisLivr"></td>
                    <td></td>
                    <td>Total :</td>
                    <td id="totalPrice"></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            {#<div class="col-md-6">#}

                {#Total :#}
                {#<div id="totalPrice"></div>#}
            {#</div>#}
            <button type="submit" class="btn btn-primary col-md-2">Commander</button>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>


    </div>




{% endblock %}
{% block javascripts %}


    <script>

        var pointsRelaisJSON = {
            {% for pointRelais in pointsRelais %}
            '{{ pointRelais.id }}': {
                'latitude':{{ pointRelais.latitudePointRelais }},
                'longitude': {{ pointRelais.longitudePointRelais }},
                'libelle': '{{ pointRelais.libelle }}',
                'adresse': '{{ pointRelais.adressePointRelais }}',
                'cp': '{{ pointRelais.cPPointRelais }}',
                'ville': '{{ pointRelais.villePointRelais }}'
            },
            {% endfor %}
        }

    </script>

    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-sxv9IY896tJiY8j3mOeeC0c5WVoKu-Y&callback=showAddressForm"
            async defer></script>
    {#<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-sxv9IY896tJiY8j3mOeeC0c5WVoKu-Y&callback=showAddressForm"#}
            {#async defer></script>#}


{% endblock %}

