{% extends '@BaBFrontEnd/Default/index.html.twig' %}
{% block bodyClass %}error-page {{ parent() }}{% endblock %}
{% block title %}Erreur paiement{% endblock %}
{% block body %}
    <div class="container">
        <div class="row well">
            <div class="col-md-12">
                <h1>Une erreur de paiement a eu lieu.</h1>
                <h2>{% if message is defined %}{{ message }}{% else %}Votre compte n'a pas été débité{% endif %}</h2>
                Vous pouvez à tout moment revenir sur votre panier en cliquant : <a class="btn bg-info" href="{{ path('panier') }}">ici</a>
            </div>
        </div>
    </div>
{% endblock %}