REQUEST
{{ dump(request) }}

RESPONSE
{{ dump(response) }}

TOKEN
{% if token is defined %}
{{ dump(token) }}
{% endif %}

ERREURS
{% if errors is defined %}
{{ dump(errors) }}
{% endif %}

PARAM REQUESTS
{% if paramsPayment is defined %}
    {{ dump(paramsPayment) }}
{% endif %}