{% extends '@BaBFrontEnd/Default/index.html.twig' %}
{% block bodyClass %}valid-page{% endblock %}
{% block body %}
    <div class="container">
        <div class="well col-md-12">
            Votre paiement a été validé.
            <h2>Récapitulatif de la vente</h2>

            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Offre choisi</th>
                    <th>Prix</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ souscription.modeSouscription.libelle }}</td>
                    <td>{{ souscription.modeSouscription.prixDeVente }}€</td>
                </tr>
                </tbody>
            </table>
            <h3>Détail de la commande</h3>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>
                        Nom de la box
                    </th>
                    <th>
                        Date d'envoi théorique
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for detail in detailsSouscription %}
                    <tr>
                        <td>{{ detail.box.nomBox }}</td>
                        <td>{{ detail.box.dateSortieBox|date('d-m-Y') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}