{% extends '@BaBFrontEnd/Default/index.html.twig' %}
{% block bodyClass %}achat-page{% endblock %}
{% block body %}
    <div class="container recap-container">
        <div class="well col-md-12">
            <h2>Récapitulatif de la commande</h2>

            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Offre choisi</th>
                    <th>Prix</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ souscription.modeSouscription.libelle }}</td>
                    <td>{{ souscription.modeSouscription.prixDeVente }}€</td>
                </tr>
                </tbody>
            </table>
            <h3>Détail de la commande</h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            Nom de la box
                        </th>
                        <th>
                            Date d'envoi théorique
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for detail in detailsSouscription %}
                    <tr>
                        <td>{{ detail.box.nomBox }}</td>
                        <td>{{ detail.box.dateSortieBox|date('d-m-Y') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="well col-md-12">
            <h2>Mode de livraison</h2>

            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Mode de livraison choisi</th>
                    <th>Prestataire</th>
                    <th>Prix</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ souscription.modeLivraison.libelle }}</td>
                    <td>{{ souscription.modeLivraison.prestataire }}</td>
                    <td>{{ souscription.modeLivraison.prixDeVente }}€ / boîte</td>
                </tr>
                </tbody>
            </table>
            {% if address %}
                {% set vars = {'addressLivr': souscription.addressLivraison, 'addressFact': souscription.addressFacturation} %}
                {%  include '@BaBFrontEnd/Default/recapAddress.html.twig' with vars %}
            {% endif %}
            {% if souscription.pointRelais %}
                <div class="col-md-6">
                    <address>
                        <strong>{{ souscription.pointRelais.libelle }}</strong><br>
                        {{ souscription.pointRelais.adressePointRelais }}<br>
                        {{ souscription.pointRelais.cPPointRelais }} - {{ souscription.pointRelais.villePointRelais }}<br>
                    </address>
                </div>
            {% endif %}
        </div>

        <div class="well col-md-12">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>
                        <h2>Total :</h2>
                    </td>
                    <td>
                        <h2>
                            {{ souscription.prixTotal }}€
                        </h2>
                    </td>
                </tr>
                <tr>
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    {{ form_errors(form) }}
                    <td><a target="_blank" href="{{ path('cgv') }}">{{ form_label(form.validationCGV) }}</a> {{ form_widget(form.validationCGV) }}</td>
                    <td><button type="submit" href="{{ path('demande_paiement') }}"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png" alt="Buy now with PayPal" /></button></td>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </tr>
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}