{% extends '@BaBCore/Default/index.html.twig' %}

{% block body %}
    <h3>Ajout d'un style de bière</h3>

    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_label(form.nomStyleBiere) }}
            {{ form_errors(form.nomStyleBiere) }}
            <div class="col-sm-4">
                {{ form_widget(form.nomStyleBiere, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>


        {{ form_rest(form) }}
        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        <button type="submit" class="btn btn-primary">Sauvegarder</button>

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
    </div>
{% endblock %}