{% extends 'BaBCoreBundle:Default:index.html.twig' %}

{% block body %}
    <h3>Listes des styles</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom du style</th>
            <th>Nombre de bieres</th>
        </tr>
        </thead>
        <tbody>
        {% for style in styleBiere %}
            <tr>
                <td><a href="{{ path('style_biere_show', {'id': style.id|number_format }) }}">{{ style.nomStyleBiere }}</a></td>
                <td>{{ style.nombreBieres }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" href="{{ path('style_biere_add') }}">Ajouter un style</a>
{% endblock %}