{% extends '@BaBCore/Default/index.html.twig' %}
{% block title %}
    {{ styleBiere.nomStyleBiere }} -{{ parent() }}
{% endblock %}
{% block body %}
    <h2>Style : {{ styleBiere.nomStyleBiere }}</h2>
    {% if listBieres is not empty %}
        <h3>{{ refStr }}</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom de la bière</th>
                <th>Brasserie principale</th>
                <th>Style</th>
            </tr>
            </thead>
            <tbody>
            {% for biere in listBieres %}
                <tr>
                    <td><a href="{{ path('biere_item', {'id': biere.id}) }}" target="_blank">{{ biere.nomBiere }}</a></td>
                    <td><a href="{{ path('brasserie_item', {'id': biere.brasseur1.id}) }}" target="_blank">{{ biere.brasseur1.nomBrasserie }}</a></td>
                    <td>{{ biere.style.nomStyleBiere }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}