{% extends "@BaBBackEnd/Default/index.html.twig" %}

{% block title %}Ajouter un mode de souscription - {{ parent() }}{% endblock %}

{% block body %}
<h1>Ajouter un mode de souscription</h1>

<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div id="infos-gen">
        <h4>Descriptif</h4>
        <div class="form-group">
            {{ form_label(form.libelle) }}
            {{ form_errors(form.libelle) }}
            <div class="col-sm-4">
                {{ form_widget(form.libelle, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.duree) }}
            {{ form_errors(form.duree) }}
            <div class="col-sm-4">
                {{ form_widget(form.duree, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.abonnement) }}
            {{ form_errors(form.abonnement) }}
            <div class="col-sm-4">
                {{ form_widget(form.abonnement, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    {#&#123;&#35; Génération automatique des champs pas encore écrits.#}
    {#Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)#}
    {#et tous les champs cachés (type « hidden »). &#35;&#125;#}
    {{ form_rest(form) }}
    {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
    <button type="submit" class="btn btn-primary">Sauvegarder</button>

    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}
</div>
{% endblock %}
