{% extends "@BaBBackEnd/Default/index.html.twig" %}

{% block title %}Mode de souscriptions - {{ parent() }}{% endblock %}

{% block body %}
<h1>Welcome to the ModeSouscription:list page</h1>
    <h3>Listes des bieres</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Libelle du mode de souscription</th>
            <th>Abonnement/Achat ponctuel</th>
            <th>Durée de la souscription (en mois)</th>
        </tr>
        </thead>
        <tbody>
        {% for mode_souscription in modes_souscription %}
            <tr>
                <td>{{ mode_souscription.libelle }}</td>
                <td>{{ mode_souscription.abonnement }}</td>
                <td>{{ mode_souscription.duree }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" href="{{ path('mode_souscription_add') }}">Ajouter un mode de souscription</a>
{% endblock %}
