{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block bodyClass %}login-page{% endblock %}

{% block fos_user_content %}
    <div class="container login-container">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="well col-md-6 col-md-offset-3">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="row">
                    <div class="col-md-6">
                        <label for="username">{{ 'security.login.username'|trans }}</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="password">{{ 'security.login.password'|trans }}</label>
                    </div>
                    <div class="col-md-6">
                        <input type="password" id="password" name="_password" required="required" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>
                    <div class="col-md-6">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-6">
                        {% if app.request.get('_route') != app.request.headers.get('referer') %}
                            <input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer') }}" />
                        {% endif %}
                        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                    </div>
                </div>





            </form>
        </div>

    </div>

{% endblock fos_user_content %}


