{% extends '@BaBFrontEnd/Default/index.html.twig' %}
{% block bodyClass %}cgv-page{% endblock %}
{% block body %}
    <div class="container">
        <div class="col-md-12 text-center">
            <h3>Conditions Générales de Vente et d'utilisation <strong>BOITE A BIÈRE</strong></h3>
        </div>
        <div class="col-md-6 well">
            <address>
                <strong><strong>BOITE A BIÈRE</strong></strong><br>
                Société par Action Simplifiée
                au capital de 2 000 €<br>
                16 avenue mistral<br>
                13009 Marseille<br>
                France<br>
                Numéro de Siret 000 000 000 RCS de Marseille
            </address>

        </div>
        <div class="col-md-4 col-md-offset-2 text-right well">
            <address>
                Tél. : 00 00 00 00 00<br>
                Email : <a href="mailto:contact@boiteabiere.fr">contact@boiteabiere.fr</a><br>
                Déclaration CNIL N°000000<br>
                Directeur de la publication : E.HADJEM
            </address>
        </div>
        <div class="col-md-12 well"><p>
                <strong>Définitions préalables</strong><br>
                    Les définitions suivantes s’appliquent dans le cadre des Conditions Générales de Vente <strong>BOITE
                        A BIÈRE</strong> :
                    Abonné : toute personne ayant souscrit une offre sur le site www.boiteabiere.fr
                    Société : la société <strong>BOITE A BIÈRE</strong> SAS
                    Le site internet renvoie au site www.boiteabiere.fr sauf indication contraire.
                    La société <strong>BOITE A BIÈRE</strong> SAS propose une sélection de bières à ses clients. La
                    Société est seule exploitante du site internet www.boiteabiere.fr sur lequel ses clients peuvent
                    souscrire une offre pour ensuite recevoir sur 1, 3 ou 6 mois un coffret comprenant six bouteilles de
                    trois bières artisanales françaises différentes sélectionnées par La société <strong>BOITE A
                        BIÈRE</strong> SAS. Le client peut également accéder à des explications sur les bières
                    sélectionnées en allant directement sur le blog <strong>BOITE A BIÈRE</strong> mais aussi sur la
                    fiches explicatives mensuelle. Des vidéos sont également disponibles sur le blog.
                    Pour accéder et profiter pleinement des services de la Société, le client doit pleinement accepter
                    les présentes Conditions Générales de Vente qu’il peut librement sauvegarder et imprimer.

            </p></div>
        <div class="col-md-12 well"><p>
                <strong>Acceptation des conditions générales de vente</strong><br>
                    Les Conditions Générales de Vente seront acceptées à partir du moment où le client clique sur le
                    bouton « Créer mon compte ». La Société se réserve le droit de modifier à tout moment les présentes
                    Conditions Générales de Vente.
            </p></div>
        <div class="col-md-12 well"><p>
                <strong>Mentions légales</strong><br>
                    La vente d’alcool est interdite aux mineurs conformément à l'article L.3342-1 du Code de la santé
                    publique et à la loi n°2009-879 du 21 juillet 2009. En conséquence, toute personne qui souscrit une
                    offres sur le site www.boiteabiere.fr s'engage à avoir l’âge légal requis en France, soit 18 ans
                    révolus à la date de la souscription d’une offre.
                    L'abus d'alcool est dangereux pour la santé. A consommer avec modération.
            </p></div>
        <div class="col-md-12 well"><p>
                <strong>Contenu du coffret BOITE A BIÈRE</strong><br>
                Le client reçoit chaque mois 6 bouteilles de 3 bières artisanales françaises différentes sélectionnées
                par la société <strong>BOITE A BIÈRE</strong>.
                Le client reçoit également les explications et les conseils dégustation dans une fiches conseil contenus
                dans le coffret <strong>BOITE A BIÈRE</strong>.
                Le client a accès en outre à des vidéos et des explications plus approfondies sur le site internet
                www.mabierebox.fr.

                Le client retrouve sur le site une idée d’ensemble des produits proposés. Les photographies, les
                articles, les vidéos, les conseils et les explications que le client peut y trouver ne sont qu’un avis
                purement subjectif de la Société. Ces informations sont données à titre indicatif et n’engagent
                nullement la Société. Les produits proposés sont conformes à la législation française.
                Les marques, produits et appellations restent la propriété exclusive des producteurs et brasseurs. La
                Société <strong>BOITE A BIÈRE</strong> n’acquiert aucun droit sur ces marques, et ne peut être tenu
                responsable des réclamations sur ces marques, produits et appellations.

            </p></div>
        <div class="col-md-12 well"><p>
                <strong>Prix et facturation</strong><br>
                Le prix du coffret <strong>BOITE A BIÈRE</strong> et des bières sont exprimés en euros. Les prix
                indiqués sur le site internet ne comprennent pas le transport sauf mention contraire. Lorsque le client
                effectue une commande, le prix indiqué en fin de commande est le prix définitif à payer, toutes taxes
                comprises.
                Toute transaction effectuée sur le site s’effectue par carte bancaire. Une confirmation apparaît en fin
                de transaction pour valider l’achat du client. Une facture est adressée au client à l’adresse e-mail
                indiqué par ce dernier. Le client est seul responsable de l’adresse e-mail qu’il a saisie lors de la
                commande. En cas d’erreur dans la saisie de l’adresse e-mail par le client entraînant la non délivrance
                de la facture, la responsabilité de la Société ne saurait en aucun cas être engagée.
                Lorsque la commande est finalisée et approuvée par l’envoi d’un e-mail de confirmation, le client
                devient alors responsable des articles dès la livraison, le transfert de possession valant transfert de
                risques.

            </p></div>
        <div class="col-md-12 well"><p>
                <strong>Fonctionnement des différentes offres</strong><br>
                La Société propose trois types d’offres : un mois, trois mois ou six mois. Dans tous les cas, les
                Clients ont la possibilité de souscrire une offre en leur nom propre ou pour offrir à une tierce
                personne.
                Pour recevoir son coffret <strong>BOITE A BIÈRE</strong> lors du mois en cours, le client doit souscrire
                l’offre avant le 15 de ce mois. Le client recevra alors sa box autour du 25 du mois en cours. Pour tout
                abonnement souscrit après le 15 du mois en cours, le client recevra son coffret <strong>BOITE A
                    BIÈRE</strong> le mois suivant la souscription de son abonnement. Par exemple si un client souscrit
                une offre le 3 mars, il recevra son coffret <strong>BOITE A BIÈRE</strong> autour du 25 mars. En
                revanche si le client souscrit une offre le 16 mars, il recevra son premier coffret <strong>BOITE A
                    BIÈRE</strong> autour du 25 Avril.

            </p></div>
        <div class="col-md-12 well"><p>
                <strong>Offre 1 mois</strong><br>
                Lorsqu’un client souscrit une offre de un mois, il reçoit un coffret <strong>BOITE A BIÈRE</strong> au
                cours du mois suivant. Le paiement est effectué en une seule fois lors de la souscription de l’offre. Le
                client a la possibilité de différer de un mois le début de son abonnement. Le client ne peut pas
                résilier son offre de un mois.

            </p></div>
        <div class="col-md-12 well"><p>
                <strong>Abonnement trois mois</strong><br>
                Lorsqu’un client souscrit une offre de trois mois, il reçoit trois coffrets <strong>BOITE A
                    BIÈRE</strong> au cours des mois suivants. Le paiement est effectué en une seule fois lors de la
                souscription de l’offre. Le client a la possibilité de différer de un mois le début de son offre. Le
                client ne peut pas résilier son offre de trois mois.

            </p></div>
        <div class="col-md-12 well"><p>
                <strong>Abonnement six mois</strong><br>
                Lorsqu’un client souscrit une offre de six mois, il reçoit six coffrets <strong>BOITE A BIÈRE</strong>
                au cours des mois suivants. Le paiement est effectué en une seule fois lors de la souscription de
                l’offre. Le client a la possibilité de différer de un mois le début de son offre. Le client ne peut pas
                résilier son offre de six mois.

            </p></div>
        <div class="col-md-12 well"><p>
                <strong>Validation de la commande abonnement trois mois, six mois et mensuel</strong><br>
                Le contrat d’abonnement est conclu entre l’Abonné et la Société à partir du moment où le paiement a été
                effectué. A ce moment-là, l’Abonné reçoit un e-mail de confirmation. Si l’Abonné ne reçoit pas d’e-mail
                de confirmation, l’abonnement ne sera pas validé et la responsabilité de la Société ne saurait être
                engagée.

            </p></div>
        <div class="col-md-12 well"><p>
                <strong>Suspension ou annulation de l’offre</strong><br>
                En cas de défaut de paiement, d’incident de paiement ou de tentative de fraude de la part d’un client,
                la Société suspendra ou annulera l’offre. Le client ne pourra alors prétendre à aucun dédommagement de
                la part de la Société.

            </p></div>
        <div class="col-md-12 well"><p>
                <strong>Modalité de livraison</strong><br>
                Les livraisons se font exclusivement en France métropolitaine. Le client est responsable des
                informations qu’il entre sur le site internet. Le client se doit de vérifier scrupuleusement l’adresse
                de livraison du coffret <strong>BOITE A BIÈRE</strong> . Toute erreur dans l’adresse peut entrainer
                l’impossibilité de livraison du coffret <strong>BOITE A BIÈRE</strong>. Aucun renvoi ne sera effectué
                dans ce cas et la Société ne saurait être tenue responsable. En cas de retour du coffret <strong>BOITE A
                    BIÈRE</strong> à l'envoyeur et dans le cas d'une erreur de saisie d'adresse du client lors de sa
                commande (ou dans son compte), aucun remboursement ne pourra être envisagé. La société <strong>BOITE A
                    BIÈRE</strong> pourra suite à la demande du client, étudier ce type de situation au cas par cas et
                proposer une solution de renvoi au client, moyennant le paiement des frais d'expédition nécessaires.
                Les livraisons sont effectuées par un prestataire de la Société autour du 25 de chaque mois. En cas de
                retard dans la livraison, la Société ne saurait être tenue pour responsable des conséquences.
                Le client a la possibilité de changer l’adresse de livraison du coffret <strong>BOITE A BIÈRE</strong>
                au plus tard le 5 du mois précédent l’envoi du coffret <strong>BOITE A BIÈRE</strong>. Pour cela, il
                doit le faire lui-même sur le site internet en se connectant à son compte dans la rubrique « mon compte
                » – « détails de l’abonnement » – « modifier mon adresse de livraison ». Une confirmation par SMS pourra
                être demandée au client. La Société ne pourra être tenue responsable de la non-réception du coffret
                <strong>BOITE A BIÈRE</strong>.

            </p></div>
        <div class="col-md-12 well"><p>
                <strong>Gestion des stocks</strong><br>
                Les commandes seront traitées en fonction des stocks disponibles. La Société pourra être amenée, en cas
                de forte demande, à retarder la livraison du coffret <strong>BOITE A BIÈRE</strong> de quelques jours.
                Dans ce cas, la Société en informera le client par e-mail.

            </p></div>
        <div class="col-md-12 well"><p>
                <strong>Accès au site internet www.boiteabiere.fr</strong><br>
                La Société se doit de maintenir le site internet accessible sans être tenu à aucune obligation d’y
                parvenir. La Société se réserve le droit de suspendre l’accès au site temporairement pour une
                intervention quelle qu’elle soit. La Société ne saurait dans ce cas être tenue responsable des
                conséquences et des désagréments occasionnés pour le client.

            </p></div>
        <div class="col-md-12 well"><p>
                <strong>Suspension des envois</strong><br>
                La Société se réserve la possibilité de suspendre le service pendant une durée d’un mois, pour quelque
                raison que ce soit.. Pour le client ayant souscrit une offre de un, trois ou six mois, l’offre sera
                automatiquement prolongé d’un mois supplémentaire par rapport à la date initiale de fin de l’abonnement.

            </p></div>
        <div class="col-md-12 well"><p>
                <strong>Modalités de paiement</strong><br>
                Le paiement se fait exclusivement par carte bancaire. Le système de paiement est sécurisé par la société
                Paypal.
                Paiement 1, 3 et 6 mois

            </p></div>
        <div class="col-md-12 well"><p>
                <strong>Réclamation</strong><br>
                Lors de la réception du coffret <strong>BOITE A BIÈRE</strong>, le client est tenu de vérifier
                attentivement l'état et la conformité des produits livrés. En cas de problème lors de la livraison, le
                client dispose de sept jours après réception pour faire une réclamation.
                Le client s’engage alors à envoyer une email en décrivant l'objet de sa réclamation à l'adresse
                contact@boiteabiere.fr.
                Le cleint s’engage par ailleurs à renvoyer du coffret <strong>BOITE A BIÈRE</strong> à ses frais à
                l’adresse suivante : <strong>BOITE A BIÈRE</strong> 16 Avenue mistral 13009 Marseille.
                Le client s’engage à renvoyer la totalité des produits en l’état. En cas de non respect de cette
                procédure, la responsabilité de la Société ne saurait être engagée.
                Dans le cas où un problème lors de la livraison était avéré, la Société pourra alors proposer au client,
                le remboursement partiel du montant des produits et de la livraison.
                Tout envoi non récupéré par le client auprès de son point relais, bureau de Poste ou refusé lors de la
                livraison sans mention (et sans déclaration de sinistre) explicite de La Poste ne pourra prétendre à
                aucun remboursement.

            </p></div>
        <div class="col-md-12 well"><p>
                <strong>Rétractation</strong><br>
                Conformément à l’article L. 121-20 du code de la consommation, le client dispose d’un délai de sept
                jours à compter de la date de réception pour retourner du coffret <strong>BOITE A BIÈRE</strong> à ses
                frais. Le client pourra alors obtenir le remboursement (hors frais de port) du coffret <strong>BOITE A
                    BIÈRE</strong> sans avoir à fournir de justification précise.
                Compte tenu de la nature du produit, la mise en application du délai de rétractation n’est applicable
                qu’en l’absence d’ouverture de la box et de consommation des produits contenus. Le délai de rétraction
                n’est également applicable qu’à réception du coffret <strong>BOITE A BIÈRE</strong>. Le client devra
                faire parvenir un courrier recommandé avec accusé de réception ainsi que le coffret <strong>BOITE A
                    BIÈRE</strong> d’origine à l’adresse suivante : <strong>BOITE A BIÈRE</strong> SAS, 16 avenue
                mistral 13009 Marseille .La Société s’engage alors à rembourser le client dans un délai de 30 jours à
                compter de la date de réception du coffret <strong>BOITE A BIÈRE</strong>.

            </p></div>
        <div class="col-md-12 well"><p>
                <strong>Responsabilité</strong><br>
                La Société ne peut être tenu responsable des dommages de toute nature, tant matériels qu’immatériels ou
                corporels, causés par l’utilisation des produits contenus dans du coffret <strong>BOITE A BIÈRE</strong>.
                La Société décline par ailleurs toute responsabilité en cas de dommages causés lors de l’utilisation de
                son site internet.
                Dans l’hypothèse où la responsabilité de la Société serait démontrée, le montant du préjudice serait, en
                tout état de cause, limitée au montant de la commande payée par le client.

            </p></div>
        <div class="col-md-12 well"><p>
                <strong>Informatique et libertés</strong><br>
                Les informations et données collectées par la Société lors de toute souscription de l’offre sont
                nécessaires pour la gestion des commandes et les relations commerciales.
                Elles peuvent être transmises aux sociétés qui contribuent à ces relations telles que celles chargées de
                l’exécution des services et commandes pour leur gestion, exécution, livraison, traitement et paiement.
                Ces informations et données sont également conservées à des fins de sécurité, afin de respecter les
                obligations légales et réglementaires et ainsi que pour permettre à la Société d’améliorer et de
                personnaliser les services proposés et les informations adressées.
                Conformément à la loi informatique et libertés, les Clients disposent d’un droit d’accès, de
                rectification et de suppression des données personnelles qui les concernent. Le Client devra écrire à
                contact@boiteabiere.fr, en indiquant ses noms, prénoms, e-mail adresse et référence client.
                En fonction des choix émis lors de la création ou consultation de son compte, le Client pourra recevoir
                des offres de la Société, ainsi que de sociétés partenaires comme indiqué lors de la création du compte.

            </p></div>
        <div class="col-md-12 well"><p>
                <strong>Droit applicable et règlement des litiges</strong><br>
                Les présentes Conventions Générales sont soumises au droit français.
                Les parties (Société et Client) s'efforceront toujours de trouver une solution amiable avant de porter
                l'affaire devant les tribunaux. Si ce n’est pas possible, tous les litiges seront portés devant le
                tribunal de Marseille.

            </p></div>
        <div class="col-md-12 well">
            <strong>Informations officielles</strong><br>
            Editeur du Site:<br>
            <strong>BOITE A BIÈRE</strong><br>
            SAS au capital de 2 000 €<br>
            16 avenue mistral<br>
            13009 Marseille<br>
            FRANCE<br>
            RCS Marseille – 000 000 000<br>
            Hébergeur du Site:<br>
            GANDI SAS<br>
            Société par Actions Simplifiée au capital de 300.000€<br>
            63-65 boulevard Massena<br>
            75013 PARIS<br>
            FRANCE<br>
            423 093 459 RCS PARIS<br>
            N° TVA FR81423093459<br>

        </div>

    </div>
{% endblock %}