{% extends '@BaBFrontEnd/Default/index.html.twig' %}
{% block bodyClass %}contact-page{% endblock %}
{% block body %}
    <div class="container">
        <div class="col-md-6">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_errors(form.name) }}
                {{ form_widget(form.name) }}
            </div>
            <div class="form-group">

                {{ form_label(form.email) }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }}

            </div>
            <div class="form-group">

                {{ form_label(form.subject) }}
                {{ form_errors(form.subject) }}
                {{ form_widget(form.subject) }}
            </div>
            <div class="form-group">

                {{ form_label(form.message) }}
                {{ form_errors(form.message) }}
                {{ form_widget(form.message) }}
            </div>

            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}