<footer class="container-fluid footer section fp-auto-height">
    <div class="container">
        <div class="row">
            <div id="prevention_text" class="col-md-12 col-xs-12">
                L'abus d'alcool est dangereux pour la santé. A consommer avec modération.
            </div>
        </div>
        <div class="row">
            <div id="footer-link-left" class="col-md-3 col-xs-12 vcenter">
                <a href="{{ path('contact') }}">Contact</a> - FAQ - Equipe
            </div>
            <div id="footer-link-social-network" class="col-md-6 col-xs-12">
                <a id="link-mail-bab" href="mailto:contact@boiteabiere.fr" class="col-xs-3">
                    <img src="{{ asset('bundles/babcore/img/logo/mail.png') }}"/>
                </a>
                <a id="link-facebook-bab" target="_blank" href="https://www.facebook.com/boiteabiere/" class="col-xs-3">
                    <img src="{{ asset('bundles/babcore/img/logo/facebook.png') }}"/>
                </a>
                <a id="link-twitter-bab" target="_blank" href="https://twitter.com/boiteabiere" class="col-xs-3">
                    <img src="{{ asset('bundles/babcore/img/logo/twitter.png') }}"/>
                </a>
                <a id="link-instagram-bab" target="_blank" href="https://instagram.com/boiteabiere/" class="col-xs-3">
                    <img src="{{ asset('bundles/babcore/img/logo/insta.png') }}"/>
                </a>

            </div>
            <div id="footet-link-right" class="col-md-3 col-xs-12 vcenter">
                <a href="{{ path('cgv') }}">CGV</a> - Mentions légales - Presse
                <!-- PayPal Logo -->
                <table border="0" cellpadding="10" cellspacing="0" align="center">
                    <tbody>
                    <tr>
                        <td align="center"></td>
                    </tr>
                    <tr>
                        <td align="center"><a href="https://www.paypal.com/fr/webapps/mpp/paypal-popup"
                                              title="PayPal Comment Ca Marche"
                                              onclick="javascript:window.open('https://www.paypal.com/fr/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img
                                        src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg"
                                        border="0" alt="PayPal Logo"/></a></td>
                    </tr>
                    </tbody>
                </table><!-- PayPal Logo -->

            </div>
        </div>
        <div class="row">
            <div id="copyright_text" class="col-md-12 col-xs-12">
                &copy; Boîte à Bière
            </div>
        </div>


    </div>

</footer>
