{% extends '@BaBFrontEnd/Default/index.html.twig' %}

{% block body %}
    <h2>Alors mec, comme ça tu veux {{ mode }} ?</h2>
    <div class="well col-sm-6">
        <h3>Date de souscription</h3>
        <h4>Abonnement</h4>
        <div>
            Nombre de mois
            <select>
                <option>1 Mois</option>
                <option>3 Mois</option>
                <option>6 Mois</option>
            </select>
        </div>
        <h4>Achat ponctuel</h4>
        <div>
            Première box pour le
            <select>
                <option>Décembre 2015</option>
                <option>Janvier 2016</option>
                <option>Février 2016</option>
            </select>
        </div>


    </div>
    <div class="well col-sm-6">
        <h3>Mode de livraison</h3>
        <div>
        On te livre où, mec ?
        <p><input name="modeLiv" type="radio" value="pointrelais">Dans un BDE d'alcoolique ?</p>
            <p>Tour 1 : On préselectionne l'endroit le plus proche de son adresse de livraison, si c'est déjà rempli
                Tour 2 : On préselectionne le dernier endroit choisi
                <br>
                <select>
                    <option>Luminy</option>
                    <option>La Timone</option>
                    <option>Aix</option>
                </select></p>
        </div>
        <p><input name="modeLiv" type="radio" value="colissimo">Chez tes parents</p>
        Tour 1 : On préselectionne l'endroit le plus proche de son adresse de livraison, si c'est déjà rempli
        Tour 2 : On préselectionne le dernier endroit choisi
    </div>
    {% include "@BaBFrontEnd/Default/footer.html.twig" %}
{% endblock %}