<html>
<head>
    <title>Inauguration Boîte à Bière</title>
    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="{{ asset('bundles/babcore/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/babcore/css/bab.css') }}">
        <link rel="stylesheet" href="{{ asset('bower_components/fullpage.js/jquery.fullPage.css') }}">
    {% endblock %}
</head>

<body class="inaug-page">
<div class="inaug">
    <div class="container">
        <div class="col-md-12 col-sm-12 text-center">
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://app.mailjet.com/widget/iframe/1pDb/8Q" width="360" height="260"></iframe>
        </div>
    </div>
</div>
</body>
</html>

