<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Boite à Biere, des bières françaises dans ton salon !{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('bundles/babcore/img/icons/favicon.png') }}" />
    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="{{ asset('bundles/babcore/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/babcore/css/bab.css') }}">
        <link rel="stylesheet" href="{{ asset('bower_components/fullpage.js/jquery.fullPage.css') }}">
    {% endblock %}

    {% block metaFB%}
    <meta property="og:url"                content="http://boiteabiere.fr" />
    <meta property="og:type"               content="product" />
    <meta property="og:title"              content="Marre de la routine ?" />
    <meta property="og:description"        content="Boite à Bière, des bières françaises dans ton salon !" />
    <meta property="og:image"              content="{{asset('bundles/babcore/img/blog_background.jpg', absolute=true)}}" />
    {% endblock %}
    <meta property="fb:app_id"              content="897510450366603" />
    <script type="text/javascript">
        {% block javascripthead %}


        {% endblock %}
    </script>

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
        window.cookieconsent_options = {"message":"Les cookies nous permettent de personnaliser le contenu et les annonces, d'offrir des fonctionnalités relatives aux médias sociaux et d'analyser notre trafic. Nous partageons également des informations sur l'utilisation de notre site avec nos partenaires de médias sociaux, de publicité et d'analyse.","dismiss":"Ok","learnMore":"Plus d'infos","link":null,"theme":"dark-bottom"};
    </script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
    <!-- End Cookie Consent plugin -->

</head>

<body class="{% block bodyClass %}content-page{% endblock %}">
{% for key in app.session.flashbag.keys %}
    {% for message in app.session.flashBag.get(key) %}
        <div class="alert alert-{{ key }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <p>{{ message }}</p>
        </div>
    {% endfor %}
{% endfor %}
{#<header>#}
    {#<div id="header">#}
        {% include "@BaBFrontEnd/Default/nav.html.twig" %}
    {#</div>#}
{#</header>#}

{% block body %}
    <div id="fullpage">
        <div id="logo-section" class="section content-page">
            <div id="logo_div" class="main-background container">
                <div class="row">
                    <h2 class="text-center col-md-12 col-xs-12 col-sm-12">
                        Découvre toutes les bières françaises dans ton salon
                    </h2>
                </div>
                <div class="row">
                    <h2 class="text-center col-md-12 col-xs-12 col-sm-12">
                    </h2>
                </div>
                <div class="row">
                    <a class="btn btn-danger col-md-offset-3 col-md-6 col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 h3-btn-text" role="button" href="{{ path('achat', {'mode' : 'acheter'}) }}">
                        <strong>Découvre le contenu de la boite</strong>
                    </a>
                </div>

            </div>
            <div id="achat_div" class="preview-background">
            </div>
        </div>
        <div id="achat_div" class="section content-page">
            <div class="container-fluid main-background">
                <div class="col-md-4 col-xs-12 col-sm-8 col-md-offset-1">
                    <a href="{{ path('achat', {'mode': 'acheter'}) }}" class="homelink">
                        <h1 class="well text-center"><strong>Commande ta boite</strong></h1>
                    </a>

                    <p class="well text-center text-well-home">
                        Une boite, c’est 6 bières, des goodies et pleins de bons conseils !
                        Pour te faire plaisir ou offrir, la boite contient tout ce qu’il faut afin de découvrir des bières artisanales 100% française. 
                        Apprécie de nouvelles saveurs directement dans ton salon !
                    </p>
                </div>
            </div>
            <div id="reseau_div" class="preview-background">
            </div>
        </div>
        <div id="reseau_div" class="section content-page">
            <div class="container-fluid main-background">
                <div class="col-md-offset-7 col-md-4 col-xs-12 col-sm-8" >
                    <a href="{{ path('points-relais') }}" class="homelink">
                        <h1 class="well text-center"><strong>Consulte le réseau</strong></h1>
                    </a>

                    <p class="well text-center text-well-home">
                        Ici, on raconte que le réseau Boite à Bière est vaste et beau, et qu'on peut le consulter sur le site. Prend ta bière et rejoins nous.
                    </p>
                </div>
            </div>
            <div id="blog_div" class="preview-background">
            </div>
        </div>
        <div id="blog_div" class="section content-page">
            <div class="container-fluid main-background">
                <div class="col-md-4 col-xs-12 col-sm-8 col-md-offset-1" >
                    <a target="_blank" href="https://www.facebook.com/boiteabiere/" class="homelink">
                        <h1 class="well text-center"><strong>Accès au blog</strong></h1>
                    </a>
                    <p class="well text-center text-well-home">
                        Enfin, ici on te propose d'aller faire un tour sur le blog et d'aller voir les dernières infos sur les bières, les brasseries et tous ce qu’on souhaite partager avec toi.
                    </p>
                </div>
            </div>
            {#{% include "@BaBFrontEnd/Default/footer.html.twig" %}#}

        </div>
        {% include "@BaBFrontEnd/Default/footer.html.twig" %}
    </div>
{% endblock %}
{% block footer %}
    {#{% include "@BaBFrontEnd/Default/footer.html.twig" %}#}

{% endblock %}
{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ asset('bower_components/fullpage.js/jquery.fullPage.js') }}"></script>
    <script src="{{ asset('bundles/babcore/js/bab.js') }}"></script>
{% endblock %}
</body>
</html>
