<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('home') }}">
                <img id="logo_img" class="img-responsive"
                     src="{{ asset('bundles/babcore/img/logo/logo-horizontal.png') }}" alt="Boite a bière">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('achat', {'mode': 'acheter'}) }}">
                        <img src="{{ asset('bundles/babcore/img/icons/commander.png') }}">
                        <div class="navbar-text">Commande ta boite</div>
                    </a>
                </li>
                <li>
                    <a href="{{ path('achat', {'mode': 'offrir'}) }}">
                        <img src="{{ asset('bundles/babcore/img/icons/offrir.png') }}">
                        <div class="navbar-text">Offre ta boite</div>
                    </a>
                </li>
                <li>
                    <a href="{{ path('points-relais') }}">
                        <img src="{{ asset('bundles/babcore/img/icons/map.png') }}">
                        <div class="navbar-text">Le réseau</div>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.facebook.com/boiteabiere/">
                        <img class="navbar-btn" src="{{ asset('bundles/babcore/img/icons/blog.png') }}">
                        <div class="navbar-text">Le blog</div>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li>
                            <a href="{{ path('fos_user_profile_show') }}">
                                <img class="navbar-btn" src="{{ asset('bundles/babcore/img/icons/espace perso.png') }}">
                                <div class="navbar-text">Mon profil</div>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                <img class="navbar-btn" src="{{ asset('bundles/babcore/img/icons/logout.png') }}">
                                <div class="navbar-text">Déconnexion</div>
                            </a>
                        </li>

                {% else %}
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">
                            <img src="{{ asset('bundles/babcore/img/icons/connexion.png') }}">
                            <p class="navbar-text text-well-home">Connexion</p>
                        </a>
                    </li>
                    {#<span class="caret"></span>#}
                    <li><a href="{{ path('fos_user_registration_register') }}">
                            <img src="{{ asset('bundles/babcore/img/icons/inscription.png') }}">
                            <p class="navbar-text text-well-home">S'inscrire</p>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->

    </div>
    <div class="container-fluid bandeau">
        <div class="row ">
            <a class="btn btn-danger" role="button" href="{{ asset('bundles/babcore/files/CarteCadeau.pdf') }}">
                <strong>Pour télécharger et imprimer ta carte cadeau à déposer sous le sapin, c'est par ici !</strong>
            </a>
        </div>
    </div>
</nav>