{% extends '@BaBFrontEnd/Default/index.html.twig' %}
{% block bodyClass %}map-page {{ parent() }}{% endblock %}
{% block body %}

    <div id="map-page" class="container">
        {% for pointRelais in pointsRelais %}
            <div class="well col-md-7">
                <div class="col-md-5">
                    <address>
                        <strong>{{ pointRelais.libelle }}</strong><br>
                        {{ pointRelais.adressePointRelais }}<br>
                        {{ pointRelais.cPPointRelais }}  {{ pointRelais.villePointRelais }}
                        {{ pointRelais.horrairesOuverture }}
                    </address>
                </div>
                <div class="col-md-7">
                    <div id="map{{ pointRelais.id }}" class="map-preview"></div>
                </div>

            </div>
        {% endfor %}


    </div>
    {#{% include "@BaBFrontEnd/Default/footer.html.twig" %}#}
    <script>

        var map;
        function initMap() {
            {% for pointRelais in pointsRelais %}
            var myLatLng = {lat: {{ pointRelais.latitudePointRelais }}, lng: {{ pointRelais.longitudePointRelais}}};

            var map{{ pointRelais.id }} = new google.maps.Map(document.getElementById('map{{ pointRelais.id }}'), {
                zoom: 10,
                center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map{{ pointRelais.id }},
                title: '{{ pointRelais.libelle }}'
            });

            {% endfor %}
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-sxv9IY896tJiY8j3mOeeC0c5WVoKu-Y&callback=initMap"
            async defer></script>


{% endblock %}

