<div class="col-md-6">
    <h4>Adresse de livraison</h4>
    <address>
        {{ addressLivr.libelle }}
        <br>
        {{ addressLivr.numeroAdresse }}
        <br>
        {{ addressLivr.nomVoieAdresse }}
        <br>
        {{ addressLivr.complementAdresse }}
        <br>
        {{ addressLivr.cpAdresse }}
        <br>
        {{ addressLivr.villeAdresse }}
        <br>
        {{ addressLivr.paysAdresse }}
    </address>
</div>
<div class="col-md-6">
    <h4>Adresse de facturation</h4>
    <address>
        {{ addressFact.libelle }}
        <br>
        {{ addressFact.numeroAdresse }}
        <br>
        {{ addressFact.nomVoieAdresse }}
        <br>
        {{ addressFact.complementAdresse }}
        <br>
        {{ addressFact.cpAdresse }}
        <br>
        {{ addressFact.villeAdresse }}
        <br>
        {{ addressFact.paysAdresse }}
    </address>
</div>