{% extends '@BaBCore/Default/index.html.twig' %}

{% block body %}
    <h3>Ajout d'un contact de brasserie</h3>

    <div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
        <div class="form-group">
            {{ form_label(form.nomContact) }}
            {{ form_errors(form.nomContact) }}
            <div class="col-sm-4">
                {{ form_widget(form.nomContact, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.prenomContact) }}
            {{ form_errors(form.prenomContact) }}
            <div class="col-sm-4">
                {{ form_widget(form.prenomContact, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.posteContact) }}
            {{ form_errors(form.posteContact) }}
            <div class="col-sm-4">
                {{ form_widget(form.posteContact, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.emailContact) }}
            {{ form_errors(form.emailContact) }}
            <div class="col-sm-4">
                {{ form_widget(form.emailContact, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.telephoneContact) }}
            {{ form_errors(form.telephoneContact) }}
            <div class="col-sm-4">
                {{ form_widget(form.telephoneContact, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.brasserie) }}
            {{ form_errors(form.brasserie) }}
            <div class="col-sm-4">
                {{ form_widget(form.brasserie, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>




    {{ form_rest(form) }}
    {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
    <button type="submit" class="btn btn-primary">Sauvegarder</button>

    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}
    </div>
{% endblock %}