<table class="table table-striped table-bordered">
    <tbody>
    <tr>
        <td>Nom</td>
        <td>{{ contact.nomContact }}</td>
    </tr>
    <tr>
        <td>Prenom</td>
        <td>{{ contact.prenomContact }}</td>
    </tr>
    <tr>
        <td>Poste</td>
        <td>{{ contact.posteContact }}</td>
    </tr>
    <tr>
        <td>Téléphone</td>
        <td>{{ contact.telephoneContact }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td><a href="mailto:{{ contact.emailContact }}">{{ contact.emailContact }}</a></td>
    </tr>
    </tbody>
</table>
