/* General*/
body {
    background-color: #d5a444;
    color: black;
}

h2 {
    margin-bottom: 1vh;
}

#header, #footer{
    position:fixed;
    display:block;
    width: 100%;
    text-align:center;
    color: rgba(0,0,0,1);
    top: 0;
}

#logo_img {
    max-height: 5vh;
    margin-top: -2vh;
}

.navbar {
    background-color: rgba(255,247,225,1);
    border-color: transparent;
    font-size: 2vh;
    color: black;
    padding: 1% 3%;
}

.text_home_div {
    background-color: rgba(255,255,255,0.65);
    background-size: contain;
    margin-bottom: 0;
}

#div-logo {
    position: absolute;
    bottom: 20%;
}

.section-full {
    margin-top: 9vh;
    height: 90vh;
}

.main-background {
    height: 75vh;
}

.preview-background:before {
    content: "\200b";
}

.preview-background {
    height: 15vh;
    overflow: hidden;
}

#logo_div {
    background: url('../img/logo_header.png') no-repeat center ;
    background-size: cover;
    padding-top: 50vh;
}

/* Home page*/
#achat_div {
    background : url('../img/achat_background.jpg') no-repeat center;
    background-size:cover;
}

#reseau_div {
    background : url("../img/carte_background.jpg") no-repeat center;
    background-size: cover;
}

#blog_div {
    background: url("../img/blog_background.jpg") no-repeat center;
    background-size: cover;
}

#map {
    height: 600px;
    width: 600px;
}

#div-logo-text h2 {
    padding-bottom: 5vh;
}

#footer-link-social-network {
    padding-left: 10%;
    padding-right: 10%;
}

.navbar-nav img{
    height: 4vh;
    margin-top: -1.5vh;
    margin-right: 1vw;
}

.img-responsive {
    margin: 0 auto;
}

.navbar-text {
    float: right;
    margin: auto;
    color: black;
    text-align: center;
}

@media (max-width: 767px) {
    .collapsing, .in {background-color: #FFF7E1;}
    .collapsing ul li a, .in ul li a {color: #555!important;}
    .collapsing ul li a:hover, .in ul li a:hover {color: #FFF7E1!important;}
}

.achat-page {
    background : url('../img/achat_background.jpg') no-repeat center;
    background-size:cover;
    /*margin-top: 12vh;*/
}

.footer {
    width: 100%;
    font-size: 1em;
    text-align: center;
    background-color: #d5a444;
    z-index: -5;
}

.main-page > .section > .footer {
    position: fixed;
    bottom: 0;
}

footer .col-md-12 {
    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    text-align: center;
}

footer img {
    /*width: 2vw;*/
}

#footer-link-social-network a {
    padding-right: 0.5vw;
    padding-left: 0.5vw;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
}

.well {
    background-color: rgba(255,255,255,0.65);
}

.map-page {
    height: 100vh;
    /*padding-top: 10vh;*/
    background : url("../img/carte_background.jpg") no-repeat center;
    background-size: cover;
}

#map-page {
    height: 79vh;

}
.map-preview {
    height: 20vh;
    width: 100%;
}

.login-page {
    margin-top: 10vh;
}

.login-container {
    background: url('../img/logo_header.png') no-repeat center ;
    background-size: cover;
    padding-top: 45vh;
    height: 79vh;
}

.register-container {
    padding-top: 42vh;
    margin-top: 10vh;
    height: 76vh;
    background: url('../img/logo_header.png') no-repeat center ;
    background-size: cover;
}
.check-mail-container {
    padding-top: 42vh;
    margin-top: 10vh;
    height: 74vh;
    background: url('../img/logo_header.png') no-repeat center ;
    background-size: cover;
}

.user-container {
    /*margin-top: 10vh;*/
    height:  80vh;
}

.recap-container {
    padding-top: 15vh;
    height: 79vh;
}

.text-well-home {
    /*font-size: 18px;*/
}

h2  {
    /*font-size: 50px;*/
    font-weight: bold;
}

.contact-page{
    margin-top: 10vh;
}

.inaug-page {
    background-color: #d5a444;

}

.inaug {
    background: url('../img/logo_header.png') no-repeat center ;
    background-size: cover;
    padding-top: 50vh;
    height: 90vh;
}

.cgv-page {
    margin-top: 10vh;
}

.homelink {
    color: black;
}

#text-logo {
    padding-bottom: 5vh;
}

.commande-list-page {
    margin-top: 10vh;
}

.h3-btn-text {
    white-space: normal;
    font-size: 31px;
}

@media(max-width: 992px) {
    h2 {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 27px;
    }
    .h3-btn-text {
        white-space: normal;
        font-size: 22px;
    }
}

img.navbar-btn-right {
    margin-top: 0;
}

.collapse {
    font-size: 16px;
}

.content-page {
    padding-top: 12vh;
}

.error-page {
    background: url('../img/404.jpg') no-repeat center ;
    background-size: cover;
    height: 100vh;
}

.bandeau {
    width: 100vw;
    /*  #barre en position:fixed afin de le garder à l'écran tout le temps  */
    position: fixed;
    /*top: 0;*/
    left: 0;
    right: 0;
    /*  z-index:9999 pour que le bandeau soit toujours au dessus des autres elements  */
    z-index: 9999;
    color: white;
    background:red;
    padding: 0;
    text-align: center;
    font-size:12px;
    /*margin-top:-50px;*/
    /*border-bottom: 10px solid #2e1b27;*/
}