{% extends "@BaBFrontEnd/Default/index.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <a href="{{ path('souscription_add') }}" class="btn btn-success col-md-4">Ajouter une commande</a>
            <a href="{{ path('box_list') }}" class="btn btn-success col-md-4">Récapitulatif des ventes par box</a>
            <a href="{{ path('souscription_list') }}" class="btn btn-success col-md-4">Liste des commandes</a>
        </div>

    </div>


{% endblock %}