<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('home') }}">Boite à Bière</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- Single button -->
                <div class="btn-group">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mon compte
                        <span class="caret"></span>
                    </button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
                            <li role="separator" class="divider"></li>
                            <li>

                                <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                            </li>
                        </ul>

                    {% else %}
                    <button type="button" class="btn btn-success">
                        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                    </button>
                        {#<span class="caret"></span>#}
                    <button type="button" class="btn btn-danger">
                        <a href="{{ path('fos_user_registration_register') }}">Créer un compte</a>
                    </button>
                    {% endif %}
                </div>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>