{% trans_default_domain 'FOSUserBundle' %}
{% extends "@BaBUser/layout.html.twig" %}
{% block bodyClass %}check-page{% endblock %}
{% block fos_user_content %}
    <div class="container check-mail-container">
        <div class="col-md-12">
            <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
        </div>
    </div>
{% endblock %}