{% trans_default_domain 'FOSUserBundle' %}
{% block bodyClass %}register-page{% endblock %}
<div class="container register-container">
    <form role="form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal">
        {{ form_errors(form) }}

        <div>

            <div class="form-group">
                {{ form_label(form.email, "Email", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                {{ form_errors(form.email) }}
                <div class="col-sm-4">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            {# Champ nom de la personne#}
            <div class="form-group">
                {{ form_label(form.lastName, "Nom", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                {{ form_errors(form.lastName) }}
                <div class="col-sm-4">
                    {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.firstName, "Prénom", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                {{ form_errors(form.firstName) }}
                <div class="col-sm-4">
                    {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.username, "Identifiant", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                {{ form_errors(form.username) }}
                <div class="col-sm-4">
                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.plainPassword.first, "Mot de passe", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                {{ form_errors(form.plainPassword.first) }}
                <div class="col-sm-4">
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'type': 'password'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.plainPassword.second, "Confirmez le mot de passe", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                {{ form_errors(form.plainPassword.second) }}
                <div class="col-sm-4">
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'type': 'password'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.newsletter, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                {{ form_errors(form.newsletter) }}
                <div class="col-sm-4">
                    {{ form_widget(form.newsletter, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>


            <div class="col-md-12 center-block">
                <input type="submit" value="{{ 'Envoyer'|trans }}" class="btn btn-primary" />
            </div>
        </div>


        {{ form_rest(form) }}
    </form>

</div>

