{% trans_default_domain 'FOSUserBundle' %}
{% extends "@BaBUser/layout.html.twig" %}
{% block bodyClass %}{{ parent() }}{% endblock %}
{% block body %}
<div class="container">
    <div class="row well">
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
            <div class="form-group">
                <div class="col-md-6">
                    {{ form_label(form.current_password) }}
                </div>
                {{ form_errors(form.current_password) }}
                <div class="col-md-6">
                    {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    {{ form_label(form.plainPassword.first) }}
                </div>
                {{ form_errors(form.plainPassword.first) }}
                <div class="col-md-6">
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    {{ form_label(form.plainPassword.second) }}
                </div>
                {{ form_errors(form.plainPassword.second) }}
                <div class="col-md-6">
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div>
                <input class="btn btn-success" type="submit" value="{{ 'change_password.submit'|trans }}" />
            </div>
        </form>

    </div>
</div>
{% endblock %}
