{% extends 'BaBCoreBundle:Default:index.html.twig' %}
{% block title %}
    Suppression {{ biere.nomBiere }} - {{ parent() }}
{% endblock %}
{% block body %}
    Souhaitez-vous supprimer la bière d'identifiant {{ biere.id }}, de nom {{ biere.nomBiere }} de chez {{ biere.brasseur1 }} ?
    <a class="btn btn-danger" href="{{ path('biere_delete_submit', {'id': biere.id}) }}">Confirmer</a>
    <a class="btn btn-success" href="{{ path('biere_list') }}">Annuler</a>
{% endblock %}