{% extends 'BaBCoreBundle:Default:index.html.twig' %}
{% block title %}
    {{ mode }} d'une bière - {{ parent() }}
{% endblock %}

{% block body %}
    <h3>{{ mode }} d'une bière</h3>

    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="form-group">
            {{ form_label(form.nomBiere) }}
            {{ form_errors(form.nomBiere) }}
            <div class="col-sm-4">
                {{ form_widget(form.nomBiere, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.enVente) }}
            {{ form_errors(form.enVente) }}
            <div class="col-sm-1">
                {{ form_widget(form.enVente, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.style) }}
            {{ form_errors(form.style) }}
            <div class="col-sm-4">
                {{ form_widget(form.style, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.tauxAlcool) }}
            {{ form_errors(form.tauxAlcool) }}
            <div class="col-sm-4">
                {{ form_widget(form.tauxAlcool, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.commentaire) }}
            {{ form_errors(form.commentaire) }}
            <div class="col-sm-4">
                {{ form_widget(form.commentaire, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div id="liens-externes">
            <h4>Liens externes</h4>
            <div class="form-group">
                {{ form_label(form.lienUntappd) }}
                {{ form_errors(form.lienUntappd) }}
                <div class="col-sm-4">
                    {{ form_widget(form.lienUntappd, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.lienRateBeer) }}
                {{ form_errors(form.lienRateBeer) }}
                <div class="col-sm-4">
                    {{ form_widget(form.lienRateBeer, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>


        </div>
        <div id="brasseurs">
            <h4>Brasseries</h4>
            <div class="form-group">
                {{ form_label(form.brasseur1) }}
                {{ form_errors(form.brasseur1) }}
                <div class="col-sm-4">
                    {{ form_widget(form.brasseur1, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.brasseur2) }}
                {{ form_errors(form.brasseur2) }}
                <div class="col-sm-4">
                    {{ form_widget(form.brasseur2, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.brasseur3) }}
                {{ form_errors(form.brasseur3) }}
                <div class="col-sm-4">
                    {{ form_widget(form.brasseur3, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>







        {#<div class="form-group">#}
        {#&#123;&#35; Génération du label. &#35;&#125;#}
        {#{{ form_label(form.nomBrasserie, "Nom de la brasserie", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}#}

        {#&#123;&#35; Affichage des erreurs pour ce champ précis. &#35;&#125;#}
        {#{{ form_errors(form.nomBrasserie) }}#}

        {#<div class="col-sm-4">#}
        {#&#123;&#35; Génération de l'input. &#35;&#125;#}
        {#{{ form_widget(form.nomBrasserie, {'attr': {'class': 'form-control'}}) }}#}
        {#</div>#}
        {#</div>#}


        {#&#123;&#35; Génération automatique des champs pas encore écrits.#}
        {#Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)#}
        {#et tous les champs cachés (type « hidden »). &#35;&#125;#}
        {{ form_rest(form) }}
        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        <button type="submit" class="btn btn-primary">Sauvegarder</button>

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}

        <a class="btn btn-danger">Supprimer</a>
    </div>
{% endblock %}
