{% extends 'BaBCoreBundle:Default:index.html.twig' %}

{% block body %}
<h3>Listes des bieres</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Nom de la biere</th>
        <th>Brasserie</th>
        <th>Style</th>
        <th>Taux d'alcool</th>
    </tr>
    </thead>
    <tbody>
    {% for biere in bieres %}
        <tr>
            <td><a href="{{ path('biere_item', {'id': biere.id|number_format }) }}">{{ biere.nomBiere }}</a></td>
            <td>{{ biere.brasseur1.nomBrasserie }}</td>
            <td>{{ biere.style }}</td>
            <td>{{ biere.tauxAlcool }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a class="btn btn-success" href="{{ path('biere_add') }}">Ajouter une bière</a>
{% endblock %}