{% extends '@BaBCore/Default/index.html.twig' %}
{% block title %}
    {{ biere.nomBiere }} {{ biere.brasseur1.nomBrasserie }} -{{ parent() }}
{% endblock %}
{% block body %}
    {% include '@BaBBackEnd/Biere/show-detail.html.twig' %}
    {% include '@BaBBackEnd/Biere/show-external.html.twig' %}
    {% include '@BaBBackEnd/Biere/show-stock.html.twig' %}
    <a class="btn btn-success" href="{{ path('biere_update', {'id': biere.id}) }}">Modifier la fiche</a>
    <a class="btn btn-danger" href="{{ path('biere_delete_confirmation', {'id': biere.id}) }}">Supprimer la fiche</a>
{% endblock %}