<h3>Fiche biere</h3>
<table class="table table-striped table-bordered">
    <tbody>
    <tr>
        <td>Nom de la biere</td>
        <td>{{ biere.nomBiere}}</td>
    </tr>
    <tr>
        <td>Brasserie principale</td>
        <td><a href="{{ path('brasserie_item', {'id': biere.brasseur1.id}) }}">{{ biere.brasseur1.nomBrasserie }}</a></td>
    </tr>
    {% if biere.brasseur2 is not null %}
        <tr>
            <td>Brasserie secondaire</td>
            <td><a href="{{ path('brasserie_item', {'id': biere.brasseur2.id}) }}">{{ biere.brasseur2.nomBrasserie }}</a></td>
        </tr>
    {% endif %}
    {% if biere.brasseur3 is not null %}
        <tr>
            <td>Brasserie juste histoire d'avoir son nom quelque part</td>
            <td><a href="{{ path('brasserie_item', {'id': biere.brasseur3.id}) }}">{{ biere.brasseur3.nomBrasserie }}</a></td>
        </tr>
    {% endif %}

    <tr>
        <td>Style</td>
        <td>{{ biere.style.nomStyleBiere }}</td>
    </tr>
    <tr>
        <td>Taux d'alcool (en %)</td>
        <td>{{ biere.tauxAlcool }}</td>
    </tr>
    {#<tr>#}
        {#<td>En vente</td>#}
        {#<td>{% if biere.enVente == 1 %}Oui{% else %}Non{% endif %}</td>#}
    {#</tr>#}
    {% if biere.commentaire is not null %}
        <tr>
            <td>Commentaire de l'équipe</td>
            <td>{{ biere.commentaire }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
