<h3>Mouvement de stock - {{ etatStock }} bouteilles en stock</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Date du mouvement</th>
        <th>Nature du flux</th>
        <th>Libellé du flux</th>
        <th>Quantité</th>
        <th>Valeur unitaire</th>
        <th>Solde</th>
    </tr>
    </thead>
    <tbody>
    {% for mouvement in mouvements %}
        <tr>
            <td>{{ mouvement.dateMouvementStock|date("d/m/Y") }}</td>
            <td>{% if mouvement.typeOperationStock == "in"%}<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>Entrée{% else %}Sortie{% endif %}</td>
            <td>{{ mouvement.natureMouvementStock }}</td>
            <td>{{ mouvement.quantiteMouvementStock }}</td>
            <td>{{ mouvement.valeurUnitaire|number_format(2, ',', '.') }}€</td>
            <td>{{ mouvement.soldeBieres }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>