{% if (biere.lienRateBeer is not null) or (biere.lienUntappd is not null) %}
    <h3>Liens externes</h3>
    <table class="table table-striped table-bordered">
        <tbody>
        {% if biere.lienUntappd is not null %}
            <tr>
                <td>Untappd</td>
                <td><a href="{{ biere.lienUntappd }}" target="_blank">{{ biere.lienUntappd }}</a></td>
            </tr>
        {% endif %}
        {% if biere.lienRateBeer %}
            <tr>
                <td>Ratebeer</td>
                <td><a href="{{ biere.lienRateBeer }}" target="_blank">{{ biere.lienRateBeer }}</a></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endif %}