{% extends 'BaBFrontEndBundle:Default:index.html.twig' %}
{% block title %}
    Suppression de la commande n°{{ souscription.id }} - {{ parent() }}
{% endblock %}
{% block bodyClass %}content-page{% endblock %}

{% block body %}
    <div class="container well">
        <div class="row">
            <div class="col-md-12">
                    Souhaitez-vous supprimer la souscription d'identifiant {{ souscription.id }}, de {{ souscription.user }} d'un montant de {{ souscription.prixTotal }} ?
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-danger" href="{{ path('souscription_delete_submit', {'id': souscription.id}) }}">Confirmer</a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-success" href="{{ path('souscription_list') }}">Annuler</a>
            </div>
        </div>
    </div>
{% endblock %}