{% extends 'BaBFrontEndBundle:Default:index.html.twig' %}
{% block title %}
    Ajout d'une commande - {{ parent() }}
{% endblock %}
{% block bodyClass %}content-page{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Ajout d'une commande</h3>

                <div class="well">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="form-group">
                        {{ form_label(form.user) }}
                        {{ form_errors(form.user) }}
                        <div class="col-sm-4">
                            {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.modeSouscription) }}
                        {{ form_errors(form.modeSouscription) }}
                        <div class="col-sm-4">
                            {{ form_widget(form.modeSouscription, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.box) }}
                        {{ form_errors(form.box) }}
                        <div class="col-sm-4">
                            {{ form_widget(form.box, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.modeLivraison) }}
                        {{ form_errors(form.modeLivraison) }}
                        <div class="col-sm-4">
                            {{ form_widget(form.modeLivraison, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.pointRelais) }}
                        {{ form_errors(form.pointRelais) }}
                        <div class="col-md-6">
                            {{ form_widget(form.pointRelais, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.etatCommande) }}
                        {{ form_errors(form.etatCommande) }}
                        <div class="col-sm-4">
                            {{ form_widget(form.etatCommande, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.commentaire) }}
                        {{ form_errors(form.commentaire) }}
                        <div class="col-sm-4">
                            {{ form_widget(form.commentaire, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="col-md-6 text-center formAddress">
                        <h4>Adresse de livraison</h4>
                        <div class="form-group row">
                            {{ form_label(form.addressLivraison.libelle) }}
                            {{ form_errors(form.addressLivraison.libelle) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressLivraison.libelle, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.addressLivraison.numeroAdresse) }}
                            {{ form_errors(form.addressLivraison.numeroAdresse) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressLivraison.numeroAdresse, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.addressLivraison.nomVoieAdresse) }}
                            {{ form_errors(form.addressLivraison.nomVoieAdresse) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressLivraison.nomVoieAdresse, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.addressLivraison.complementAdresse) }}
                            {{ form_errors(form.addressLivraison.complementAdresse) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressLivraison.complementAdresse, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.addressLivraison.cpAdresse) }}
                            {{ form_errors(form.addressLivraison.cpAdresse) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressLivraison.cpAdresse, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.addressLivraison.villeAdresse) }}
                            {{ form_errors(form.addressLivraison.villeAdresse) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressLivraison.villeAdresse, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.addressLivraison.paysAdresse) }}
                            {{ form_errors(form.addressLivraison.paysAdresse) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressLivraison.paysAdresse, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-center formAddress">
                        <h4>Adresse de facturation</h4>

                        <div class="form-group row">
                            {{ form_label(form.addressFacturation.libelle) }}
                            {{ form_errors(form.addressFacturation.libelle) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressFacturation.libelle, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.addressFacturation.numeroAdresse) }}
                            {{ form_errors(form.addressFacturation.numeroAdresse) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressFacturation.numeroAdresse, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.addressFacturation.nomVoieAdresse) }}
                            {{ form_errors(form.addressFacturation.nomVoieAdresse) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressFacturation.nomVoieAdresse, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.addressFacturation.complementAdresse) }}
                            {{ form_errors(form.addressFacturation.complementAdresse) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressFacturation.complementAdresse, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.addressFacturation.cpAdresse) }}
                            {{ form_errors(form.addressFacturation.cpAdresse) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressFacturation.cpAdresse, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.addressFacturation.villeAdresse) }}
                            {{ form_errors(form.addressFacturation.villeAdresse) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressFacturation.villeAdresse, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.addressFacturation.paysAdresse) }}
                            {{ form_errors(form.addressFacturation.paysAdresse) }}
                            <div class="col-md-6">
                                {{ form_widget(form.addressFacturation.paysAdresse, {'attr': {'class': 'form-control requiredLivraison'}}) }}
                            </div>
                        </div>
                    </div>


                    {#<div class="form-group">#}
                    {#&#123;&#35; Génération du label. &#35;&#125;#}
                    {#{{ form_label(form.nomBrasserie, "Nom de la brasserie", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}#}

                    {#&#123;&#35; Affichage des erreurs pour ce champ précis. &#35;&#125;#}
                    {#{{ form_errors(form.nomBrasserie) }}#}

                    {#<div class="col-sm-4">#}
                    {#&#123;&#35; Génération de l'input. &#35;&#125;#}
                    {#{{ form_widget(form.nomBrasserie, {'attr': {'class': 'form-control'}}) }}#}
                    {#</div>#}
                    {#</div>#}


                    {#&#123;&#35; Génération automatique des champs pas encore écrits.#}
                    {#Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)#}
                    {#et tous les champs cachés (type « hidden »). &#35;&#125;#}
                    {{ form_rest(form) }}
                    {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
                    <button type="submit" class="btn btn-primary">Sauvegarder</button>

                    {% if id is defined %}
                    <a class="btn btn-danger" href="{{ path('souscription_delete', {'id': id}) }}">Supprimer</a>

                    {% endif %}
                    {# Fermeture de la balise <form> du formulaire HTML #}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
