{% extends '@BaBFrontEnd/Default/index.html.twig' %}
{% block bodyClass %}content-page{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>Listes des commandes</h3>
                <div class="table-responsive well">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Identifiant de la personne</th>
                            <th>Date</th>
                            <th>Offre</th>
                            <th>Premier mois</th>
                            <th>Expédition</th>
                            <th>Prix</th>
                            <th>Etat de la commande</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for souscription in souscriptions %}
                            <tr class="{{ souscription.etatCommande.flagCommande }}">
                                <td><a href="{{ path('souscription_show', {'id': souscription.id}) }}">{{ souscription.id }}</a></td>
                                <td data-toggle="tooltip" data-placement="top" title="{{ souscription.user.email }}">{{ souscription.user }} - {{ souscription.user.email }}</td>
                                <td>{{ souscription.debutSouscriptionDate|date("d/m/Y H:i:s") }}</td>
                                <td>{{ souscription.modeSouscription.libelle }}</td>
                                <td>{{ souscription.box.nomBox }}</td>
                                <td>{{ souscription.modeLivraison.libelle }}</td>
                                <td>{{ souscription.prixTotal }}</td>
                                <td data-toggle="tooltip" data-placement="top" title="{{ souscription.etatCommande.description }}">{{ souscription.etatCommande.libelle }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="{{ path('souscription_add') }}" class="btn btn-success">Ajouter une commande</a>
            </div>
        </div>
    </div>
{% endblock %}