{% extends '@BaBFrontEnd/Default/index.html.twig' %}
{% block bodyClass %}content-page{% endblock %}
{% block body %}
    <div class="container">
        <div class="row well">
            <div class="col-md-12">
                <div class="row">
                    Nom du beneficiaire de la commande : {{ souscription.user }}
                </div>
                <div class="row">
                    Choix de l'offre : {{ souscription.modeSouscription }}
                </div>
                <div class="row">
                    Box de départ : {{ souscription.box }}
                </div>
                <div class="row">
                    Mode de livraison {{ souscription.modeLivraison }}
                </div>
                <div class="row">
                    Prix total : {{ souscription.prixTotal }}€
                </div>
                <div class="row">
                    Lieu de livraison :
                    {% if souscription.pointRelais %}
                        {{ souscription.pointRelais }}
                    {% else %}
                        <div class="col-md-6">
                            <address>
                                <strong>{{ souscription.addressLivraison.libelle }}</strong><br>
                                {{ souscription.addressLivraison.numeroAdresse }}<br>
                                {{ souscription.addressLivraison.nomVoieAdresse }}<br>
                                {{ souscription.addressLivraison.complementAdresse }}<br>
                                {{ souscription.addressLivraison.cpAdresse }} - {{ souscription.addressLivraison.villeAdresse }}<br>
                                {{ souscription.addressLivraison.paysAdresse }}<br>
                            </address>
                        </div>
                        <div class="col-md-6">
                            <address>
                                <strong>{{ souscription.addressFacturation.libelle }}</strong><br>
                                {{ souscription.addressFacturation.numeroAdresse }}<br>
                                {{ souscription.addressFacturation.nomVoieAdresse }}<br>
                                {{ souscription.addressFacturation.complementAdresse }}<br>
                                {{ souscription.addressFacturation.cpAdresse }} - {{ souscription.addressFacturation.villeAdresse }}<br>
                                {{ souscription.addressFacturation.paysAdresse }}<br>
                            </address>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    Box liés à cette commande :
                    {% for detail in souscriptionDetails %}
                        <div class="col-md-12">
                            <ul>
                                <li>{{ detail.box }}</li>
                            </ul>

                        </div>
                    {% endfor %}
                </div>
            </div>
            <a class="btn btn-danger" href="{{ path('souscription_detail', {'id': souscription.id}) }}">Modifier</a>
        </div>
    </div>
{% endblock %}