{% extends 'BaBCoreBundle:Default:index.html.twig' %}
{#{% form_theme form '@BaBCore/Form/fields.html.twig' %}#}
{% block body %}
    <h3>Ajout d'une brasserie</h3>

    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div id="infos-gen">
            <h4>Informations générales</h4>
            <div class="form-group">
                {{ form_label(form.nomBrasserie) }}
                {{ form_errors(form.nomBrasserie) }}
                <div class="col-sm-4">
                    {{ form_widget(form.nomBrasserie, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

        <div id="localisation">
            <h4>Localisation</h4>
            <div class="form-group">
                {{ form_label(form.adresse) }}
                {{ form_errors(form.adresse) }}
                <div class="col-sm-4">
                    {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.cpBrasserie) }}
                {{ form_errors(form.cpBrasserie) }}
                <div class="col-sm-4">
                    {{ form_widget(form.cpBrasserie, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.villeBrasserie) }}
                {{ form_errors(form.villeBrasserie) }}
                <div class="col-sm-4">
                    {{ form_widget(form.villeBrasserie, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.paysBrasserie) }}
                {{ form_errors(form.paysBrasserie) }}
                <div class="col-sm-4">
                    {{ form_widget(form.paysBrasserie, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

        <div id="contact">
            <h4>Contact</h4>
            <div class="form-group">
                {{ form_label(form.telephoneBrasserie) }}
                {{ form_errors(form.telephoneBrasserie) }}
                <div class="col-sm-4">
                    {{ form_widget(form.telephoneBrasserie, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.emailBrasserie) }}
                {{ form_errors(form.emailBrasserie) }}
                <div class="col-sm-4">
                    {{ form_widget(form.emailBrasserie, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.siteWebBrasserie) }}
                {{ form_errors(form.siteWebBrasserie) }}
                <div class="col-sm-4">
                    {{ form_widget(form.siteWebBrasserie, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

        <div id="infos-diverses">
            <h4>Informations diverses</h4>
            <div class="form-group">
                {{ form_label(form.dateCreationBrasserie) }}
                {{ form_errors(form.dateCreationBrasserie) }}
                <div class="col-sm-4">
                    {{ form_widget(form.dateCreationBrasserie, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.nombreEmployeesBrasserie) }}
                {{ form_errors(form.nombreEmployeesBrasserie) }}
                <div class="col-sm-4">
                    {{ form_widget(form.nombreEmployeesBrasserie, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>




        {#<div class="form-group">#}
            {#&#123;&#35; Génération du label. &#35;&#125;#}
            {#{{ form_label(form.nomBrasserie, "Nom de la brasserie", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}#}

            {#&#123;&#35; Affichage des erreurs pour ce champ précis. &#35;&#125;#}
            {#{{ form_errors(form.nomBrasserie) }}#}

            {#<div class="col-sm-4">#}
                {#&#123;&#35; Génération de l'input. &#35;&#125;#}
                {#{{ form_widget(form.nomBrasserie, {'attr': {'class': 'form-control'}}) }}#}
            {#</div>#}
        {#</div>#}


        {#&#123;&#35; Génération automatique des champs pas encore écrits.#}
           {#Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)#}
           {#et tous les champs cachés (type « hidden »). &#35;&#125;#}
        {{ form_rest(form) }}
        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        <button type="submit" class="btn btn-primary">Sauvegarder</button>

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
    </div>
{% endblock %}
