{% extends 'BaBCoreBundle:Default:index.html.twig' %}

{% block body %}
<h3>Listes des brasseries</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom de la brasserie</th>
            <th>Nombre de bieres</th>
        </tr>
    </thead>
    <tbody>
        {% for brasserie in brasseries %}
        <tr>
            <td><a href="{{ path('brasserie_item', {'id': brasserie.id|number_format }) }}">{{ brasserie.nomBrasserie }}</a></td>
            <td>{{ countBieres[brasserie.id] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-success" href="{{ path('brasserie_add') }}">Ajouter une brasserie</a>
{% endblock %}