{% extends '@BaBCore/Default/index.html.twig' %}
{% block title %}
    {{ brasserie.nomBrasserie }} -{{ parent() }}
{% endblock %}
{% block body %}
    <h3>Fiche brasserie</h3>
    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            <td>Nom de la brasserie</td>
            <td>{{ brasserie.nomBrasserie }}</td>
        </tr>
        <tr>
            <td>Adresse</td>
            <td>{{ brasserie.adresse }}</td>
        </tr>
        <tr>
            <td>Code postal</td>
            <td>{{ brasserie.cpBrasserie }}</td>
        </tr>
        <tr>
            <td>Ville</td>
            <td>{{ brasserie.villeBrasserie }}</td>
        </tr>
        <tr>
            <td>Pays</td>
            <td>{{ brasserie.paysBrasserie }}</td>
        </tr>
        <tr>
            <td>Téléphone de la brasserie</td>
            <td>{{ brasserie.telephoneBrasserie }}</td>
        </tr>
        <tr>
            <td>Site web</td>
            <td><a href="{{ brasserie.siteWebBrasserie }}">{{ brasserie.siteWebBrasserie }}</a></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><a href="mailto:{{ brasserie.emailBrasserie }}">{{ brasserie.emailBrasserie }}</a></td>
        </tr>
        </tbody>
    </table>
    <h3>Contacts</h3>
    {% for contact in listContacts %}
        {% include '@BaBBackEnd/ContactBrasserie/show.html.twig' with {'contact': contact}%}
    {% endfor %}

    {% if listBieres is not empty %}
    <h3>Bieres - {{ listBieres|length }} référence{%  if listBieres|length > 1  %}s{% endif %}</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom de la bière</th>
                <th>Style</th>
            </tr>
        </thead>
        <tbody>
        {% for biere in listBieres %}
        <tr>
            <td><a href="{{ path('biere_item', {'id': biere.id}) }}" target="_blank">{{ biere.nomBiere }}</a></td>
            <td>{{ biere.style.nomStyleBiere }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}