{% extends '@BaBUser/layout.html.twig' %}

{% block body %}
    <div class="container user-container">
        {% include 'BaBUserBundle:Profile:navUser.html.twig' %}

        <div class="col-md-1">

        </div>
        <div class="well col-md-8">
            {% for adresse in address %}
                <address>
                    <strong>{{ adresse.libelle }}</strong><br>
                    {{ adresse.numeroAdresse }}, {{ adresse.nomVoieAdresse }}<br>
                    {{ adresse.complementAdresse }}<br>
                    {{ adresse.cpAdresse }} - {{ adresse.villeAdresse }}<br>
                    {{ adresse.paysAdresse }}
                </address>
            {% endfor %}
        </div>
    </div>
{% endblock %}