{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    <div class="container user-container">
        {% include 'BaBUserBundle:Profile:navUser.html.twig' %}
        <div class="col-md-1">

        </div>
        <div class="well col-md-8">
            <div class="well col-md-12">
                <h2>Récapitulatif de la commande</h2>

                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Offre choisi</th>
                        <th>Prix</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ commande.modeSouscription.libelle}}</td>
                        <td>{{ commande.modeSouscription.prixDeVente }}€</td>
                    </tr>
                    </tbody>
                </table>
                <h3>Détail de la commande</h3>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>
                            Nom de la box
                        </th>
                        <th>
                            Date d'envoi théorique
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for detail in detailsCommande %}
                        <tr>
                            <td>{{ detail.box.nomBox }}</td>
                            <td>{{ detail.box.dateSortieBox|date('d-m-Y') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="well col-md-12">
                <h2>Mode de livraison</h2>

                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Mode de livraison choisi</th>
                        <th>Prestataire</th>
                        <th>Prix</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ commande.modeLivraison.libelle }}</td>
                        <td>{{ commande.modeLivraison.prestataire }}</td>
                        <td>{{ commande.modeLivraison.prixDeVente }}€ / boîte</td>
                    </tr>
                    </tbody>
                </table>
                {% if adress %}
                    {% set vars = {'addressLivr': commande.addressLivraison, 'addressFact': commande.addressFacturation} %}
                    {%  include '@BaBFrontEnd/Default/recapAddress.html.twig' with vars %}
                {% endif %}
            </div>

            <div class="well col-md-12">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>
                            <h2>Total :</h2>
                        </td>
                        <td>
                            <h2>
                                {{ commande.prixTotal }}€
                            </h2>
                        </td>
                    </tr>
        </div>
    </div>

{% endblock %}