{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    <div class="container user-container">
        {% include 'BaBUserBundle:Profile:navUser.html.twig' %}
        <div class="col-md-1">

        </div>
        <div class="well col-md-8">
            <div class="">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Numero de commande
                            </th>
                            <th>
                                Date de commande
                            </th>
                            <th>
                                Prix
                            </th>
                            <th>
                                Etat de la commande
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for commande in commandes %}
                        <tr class="{{ commande.etatCommande.flagCommande }}">
                            <td><a href="{{ path('profil_commande_detail', {'id': commande.id}) }}">{{ commande.id }}</a></td>
                            <td>{{ commande.debutSouscriptionDate|date("m/d/Y") }}</td>
                            <td>{{ commande.prixTotal }}€</td>
                            <td data-toggle="tooltip" data-placement="top" title="{{ commande.etatCommande.description }}">{{ commande.etatCommande }}</td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}