<div class="well col-md-3">
    <div class="">
        <div class="row col-md-12">
            <a href="{{ path('fos_user_profile_show') }}">Mes informations</a>
        </div>
        <div class="row col-md-12">
            <a href="{{ path('address-list') }}">Mes adresses</a>
        </div>
        <div class="row col-md-12">
            <a href="{{ path('commandeList') }}">Mes commandes</a>
        </div>
    </div>
</div>