{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    <div class="container user-container">
        <div class="row">
            {% include 'BaBUserBundle:Profile:navUser.html.twig' %}
            <div class="col-md-1">

            </div>
            <div class="well col-md-8">
                <div class="">
                    <table class="table table-striped table-bordered">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td>Nom</td>
                            <td>{{ user.firstName }}</td>
                        </tr>
                        <tr>
                            <td>Prenom</td>
                            <td>{{ user.lastName }}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <a class="btn bg-info" href="{{ path('fos_user_change_password') }}">Changer le mot de passe</a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}